/*  your css code here. If applicable */
.container{
	background:lightgray;
	border:5px solid black;
	border-radius:50px;
	height:250px;
	align-item:center;
	width:500px;
}
.green{
	background:green;
	height:100px;
	border-radius:50%;
	width:100px;
	margin:65px 65px 
}
.yellow{
	background:yellow;
	height:100px;
	border-radius:50%;
	width:100px;
	margin:65px 65px;
	margin-top:-165px;
	margin-left:185px;
}
.red{
	background:red;
	height:100px;
	border-radius:50%;
	width:100px;
	margin:65px 65px;
	margin-top:-165px;
	margin-left:310px;
}